.infoContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}
.btn {
  background: none;
  border: none;
}
.btn:hover {
  transform: scale(1.5);
}
.h3 {
  margin-bottom: 1rem;
}
