.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputDiv {
  margin: 0.5rem;
}
.containerForm {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 10px 5px 5px grey;
}
.input {
  border-radius: 1rem;
  margin-left: 1rem;
}
