.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputDiv {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerForm {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input {
  border-radius: 1rem;
  margin-left: 1rem;
  padding: 0.3rem;
}
.textarea {
  border-radius: 1rem;
  margin: auto;
  padding: 0.3rem;
}
.containerCheckbox {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.checkbox {
  border: 1px solid black;
  background-color: #abd9ff;

  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.checkboxInput {
  margin-left: 0.5rem;
}
.btn {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: green;
  color: white;
}
.header {
  color: #0e2954;
}
